<div class="header">
  <%= link_to 'CATALOG', root_path %>
  <div class="button-header">
    <%= link_to 'New Genre', new_genre_path %>
  </div>
</div>
<h1 id="title-pages">Editing Genre</h1>

<%= render 'form', genre: @genre %>
